{% extends "base.html" %}

{% block title %}Manuel Gutiérrez Hernández{% endblock %}

{% block content %}
<h2>Bienvenido!</h2>

<p>Hola, soy <strong>Manu</strong>, próximamente finalizaré mis estudios en <strong>ASIR (Administración de Sistemas Informáticos en Red)</strong>, con una sólida base en administración de sistemas y experiencia práctica en herramientas clave para SysAdmin y DevOps. Me considero un autodidacta apasionado, con una gran capacidad para aprender rápido y un enfoque claro en la optimización de procesos. Entre mis habilidades destacan el uso de <strong>Python</strong>, conocimientos en <strong>ciberseguridad orientada al hardening</strong>, y experiencia con <strong>Docker</strong> y <strong>Git</strong> para la administración y automatización de entornos de desarrollo y producción.</p>

<p>Poseo además un nivel avanzado de <strong>inglés</strong>, que he utilizado activamente en trabajos anteriores, permitiéndome colaborar en equipos internacionales y comprender documentación técnica de alto nivel. Aunque mis experiencias laborales previas no estaban directamente relacionadas con la tecnología, desarrollé habilidades sólidas en gestión de equipos y atención al cliente, mejorando mis capacidades de comunicación y resolución de problemas.</p>

<p>Mis conocimientos en <strong>redes</strong> y fundamentos de <strong>seguridad</strong> me brindan una base sólida para gestionar y proteger sistemas eficientemente. Actualmente, busco una oportunidad como <strong>Junior SysAdmin</strong> o <strong>Junior DevOps</strong>, donde pueda aplicar y ampliar mis conocimientos, contribuyendo al diseño y mantenimiento de infraestructuras resilientes y automatizadas. Estoy altamente motivado para seguir aprendiendo y desarrollarme profesionalmente en una empresa que valore la innovación y el trabajo en equipo.</p>

<br>
<h2>Tecnologías</h2>

<div class="tech-container">
    <div class="tech-section">
        <h3>Sistemas</h3>
        <div class="tech-grid">
            <div class="tech-card">
                <i class="fab fa-linux"></i>
                <span>Linux</span>
            </div>
            <div class="tech-card">
                <i class="fab fa-linux"></i>
                <span>Kali Linux</span>
            </div>
            <div class="tech-card">
                <i class="fab fa-windows"></i>
                <span>Windows</span>
            </div>
            <div class="tech-card">
                <i class="fab fa-windows"></i>
                <span>Active Directory</span>
            </div>
            
            
            <div class="tech-card">
                <i class="fas fa-server"></i>
                <span>Virtualización</span></span>
            </div>
            
        </div>
    </div>

    <div class="tech-section">
        <h3>Desarrollo</h3>
        <div class="tech-grid">
            <div class="tech-card">
                <i class="fab fa-python"></i>
                <span>Python</span>
            </div>
            <div class="tech-card">
                <i class="fab fa-html5"></i>
                <span>HTML5</span>
            </div>
            <div class="tech-card">
                <i class="fab fa-css3-alt"></i>
                <span>CSS3</span>
            </div>
            <div class="tech-card">
                <i class="fas fa-database"></i>
                <span>MySQL</span>
            </div>
            <div class="tech-card">
                <i class="fas fa-database"></i>
                <span>MongoDB</span>
            </div>
            
        </div>
    </div>

    <div class="tech-section">
        <div class="marg-top"><h3>Redes y Seguridad</h3></div>
        <div class="tech-grid">
            <div class="tech-card">
                <i class="fas fa-network-wired"></i>
                <span>Redes</span>
            </div>
            <div class="tech-card">
                <i class="fas fa-shield-alt"></i>
                <span>Seguridad y Hardening</span>
            </div>
            <div class="tech-card">
                <i class="fas fa-wifi"></i>
                <span>Protocolos</span>
            </div>
            <div class="tech-card">
                <i class="fas fa-fish"></i>
                <span>Wireshark</span>
            </div>
            <div class="tech-card">
                <i class="fas fa-key"></i>
                <span>Wireguard, OpenVPN</span>
            </div>
        </div>
    </div>

    <div class="tech-section">
        <div class="marg-top"><h3>Herramientas y Automatización</h3></div>
        <div class="tech-grid">
            <div class="tech-card">
                <i class="fab fa-git-alt"></i>
                <span>Git</span>
            </div>
            <div class="tech-card">
                <i class="fab fa-docker"></i>
                <span>Docker</span>
            </div>
            <div class="tech-card">
                <i class="fas fa-terminal"></i>
                <span>Shell Scripting</span>
            </div>
            <div class="tech-card">
                <i class="fas fa-cogs"></i>
                <span>Ansible</span>
            </div>
            <div class="tech-card">
                <i class="fas fa-robot"></i>
                <span>Uso Avanzado de IA</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}
